<div id="center_column" class="col-lg-9 col-xl-9 col-xxl-9">
    <section id="main">
        <!-- MODULE st swiper -->
        <!--/ MODULE st swiper --><!-- MODULE st owl carousel -->
        <!--/ MODULE st owl carousel --><!-- MODULE st banner -->
        <!--/ MODULE st banner -->

        <section id="products">
            <div
                id="js-active-search-filters"
                class="active_filters_box flex_container flex_start hidden-xs-up"
            >
                <span class="active_filter_title font-weight-bold"
                    >Filter By</span
                >
                <div class="flex_child">
                    <div class="active_filters"></div>
                </div>
            </div>

            <div id="product-list-top-wrap">
                <div
                    id="js-product-list-top"
                    class="products-selection flex_container general_top_border general_bottom_border"
                >
                    <div class="hidden-lg-up filter-button mar_r6">
                        <a
                            href="javascript:;"
                            id="search_filter_toggler"
                            data-name="left_column"
                            data-direction="open_column"
                            class="rightbar_tri btn btn-default"
                            title="Filter"
                            >Filter</a
                        ><!--to do how to know filters are in left column or right column-->
                    </div>

                    <div class="products-sort-order dropdown_wrap mar_r1">
                        <a
                            href="javascript:"
                            class="dropdown_tri dropdown_tri_in"
                            rel="nofollow"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                            Select
                            <i class="fto-angle-down arrow_down arrow"></i>
                            <i class="fto-angle-up arrow_up arrow"></i>
                        </a>
                        <div class="dropdown_list">
                            <ul class="dropdown_list_ul dropdown_box">
                                <li>
                                    <a
                                        rel="nofollow"
                                        title="Relevance"
                                        href="https://www.wandahouseofjewels.com/7-pendant-necklace?order=product.position.asc"
                                        class="dropdown_list_item js-search-link btn-spin js-btn-active"
                                    >
                                        <i class="fto-angle-right mar_r4"></i
                                        >Relevance
                                    </a>
                                </li>
                                <li>
                                    <a
                                        rel="nofollow"
                                        title="Name, A to Z"
                                        href="https://www.wandahouseofjewels.com/7-pendant-necklace?order=product.name.asc"
                                        class="dropdown_list_item js-search-link btn-spin js-btn-active"
                                    >
                                        <i class="fto-angle-right mar_r4"></i
                                        >Name, A to Z
                                    </a>
                                </li>
                                <li>
                                    <a
                                        rel="nofollow"
                                        title="Name, Z to A"
                                        href="https://www.wandahouseofjewels.com/7-pendant-necklace?order=product.name.desc"
                                        class="dropdown_list_item js-search-link btn-spin js-btn-active"
                                    >
                                        <i class="fto-angle-right mar_r4"></i
                                        >Name, Z to A
                                    </a>
                                </li>
                                <li>
                                    <a
                                        rel="nofollow"
                                        title="Price, low to high"
                                        href="https://www.wandahouseofjewels.com/7-pendant-necklace?order=product.price.asc"
                                        class="dropdown_list_item js-search-link btn-spin js-btn-active"
                                    >
                                        <i class="fto-angle-right mar_r4"></i
                                        >Price, low to high
                                    </a>
                                </li>
                                <li>
                                    <a
                                        rel="nofollow"
                                        title="Price, high to low"
                                        href="https://www.wandahouseofjewels.com/7-pendant-necklace?order=product.price.desc"
                                        class="dropdown_list_item js-search-link btn-spin js-btn-active"
                                    >
                                        <i class="fto-angle-right mar_r4"></i
                                        >Price, high to low
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="list_grid_switcher">
                        <div class="grid selected" title="Grid view">
                            <i class="fto-th-large-1"></i>
                        </div>
                        <div class="list" title="List view">
                            <i class="fto-th-list-1"></i>
                        </div>
                    </div>
                    <div class="flex_child"></div>
                    <nav class="paginaton_sample" aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item active disabled">
                                <a
                                    rel="nofollow"
                                    href="https://www.wandahouseofjewels.com/7-pendant-necklace"
                                    class="page-link js-search-link"
                                >
                                    1/4
                                </a>
                            </li>
                            <li class="page-item">
                                <a
                                    rel="next"
                                    href="https://www.wandahouseofjewels.com/7-pendant-necklace?page=2"
                                    class="page-link next js-search-link"
                                    aria-label="Next"
                                >
                                    <i class="fto-right-open-3"></i
                                    ><span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div id="product-list-wrap">
                <div id="js-product-list">
                    <div
                        class="products product_list row grid"
                        data-classnames=" col-fw-3 col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 "
                    >
                        <div
                            class="product_list_item col-fw-3 col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 first-item-of-screen-line first-screen-line first-item-of-large-line first-large-line first-item-of-desktop-line first-desktop-line first-in-line first-line first-item-of-tablet-line first-tablet-line first-item-of-mobile-line first-mobile-line first-item-of-portrait-line first-portrait-line"
                        >
                            <article
                                class="ajax_block_product js-product-miniature"
                                data-id-product="71"
                                data-id-product-attribute="566"
                                data-minimal-quantity="1"
                            >
                                <div
                                    class="pro_outer_box clearfix large_default"
                                >
                                    <div class="pro_first_box">
                                        <a
                                            href="https://www.wandahouseofjewels.com/home/71-566-pendant-netizen-round-double-frame.html#/19-color-rose_gold/23-carat_size-04_carat"
                                            title="Pendant Netizen Round Double Frame"
                                            class="product_img_link pro_img_hover_scale"
                                        >
                                            <picture class="front_image_pic">
                                                <img
                                                    data-src="https://www.wandahouseofjewels.com/324-large_default/pendant-netizen-round-double-frame.jpg"
                                                    data-srcset="https://www.wandahouseofjewels.com/324-large_default_2x/pendant-netizen-round-double-frame.jpg 2x"
                                                    width="720"
                                                    height="720"
                                                    alt="Pendant Netizen Round Double Frame"
                                                    class="front-image"
                                                    src="https://www.wandahouseofjewels.com/324-large_default/pendant-netizen-round-double-frame.jpg"
                                                    srcset="
                                                        https://www.wandahouseofjewels.com/324-large_default_2x/pendant-netizen-round-double-frame.jpg 2x
                                                    "
                                                />
                                            </picture>
                                            <img
                                                src="https://www.wandahouseofjewels.com/img/p/en-default-large_default.jpg"
                                                class="holder"
                                                width="720"
                                                height="720"
                                                alt="Pendant Netizen Round Double Frame"
                                            />
                                        </a>

                                        <div class="st_sticker_block">
                                            <div
                                                class="st_sticker layer_btn flag_2 st_sticker_1 st_sticker_type_1"
                                            >
                                                <span
                                                    class="st_sticker_text"
                                                    title="NEW"
                                                    >NEW</span
                                                >
                                            </div>
                                        </div>

                                        <div
                                            class="hover_fly hover_fly_0 flex_container mobile_hover_fly_hide"
                                        ></div>
                                    </div>
                                    <div
                                        class="pro_second_box pro_block_align_0"
                                    >
                                        <div
                                            class="flex_box flex_start mini_name"
                                        >
                                            <h3
                                                class="s_title_block flex_child nohidden"
                                            >
                                                <a
                                                    href="https://www.wandahouseofjewels.com/home/71-566-pendant-netizen-round-double-frame.html#/19-color-rose_gold/23-carat_size-04_carat"
                                                    title="Pendant Netizen Round Double Frame"
                                                    >Pendant Netizen Round
                                                    Double Frame</a
                                                >
                                            </h3>
                                        </div>

                                        <div class="">
                                            <div
                                                class="product-price-and-shipping pad_b6"
                                            >
                                                <span class="price"
                                                    >Rp48,500,000</span
                                                >
                                            </div>
                                        </div>

                                        <div class="product-desc pad_b6">
                                            Kalung white gold dengan center
                                            diamond berbentuk&nbsp;Round cut
                                            dalam kategori D Color (kategori
                                            berlian tertinggi/terputih) dan VVS
                                            Clarity serta dipercantik berlian
                                            pendamping.
                                        </div>

                                        <div
                                            class="act_box_inner pad_b6 mar_t4 flex_box"
                                        ></div>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <div
                            class="product_list_item col-fw-3 col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 first-screen-line first-large-line first-desktop-line first-line first-tablet-line last-item-of-mobile-line first-mobile-line last-item-of-portrait-line first-portrait-line"
                        >
                            <article
                                class="ajax_block_product js-product-miniature"
                                data-id-product="70"
                                data-id-product-attribute="561"
                                data-minimal-quantity="1"
                            >
                                <div
                                    class="pro_outer_box clearfix large_default"
                                >
                                    <div class="pro_first_box">
                                        <a
                                            href="https://www.wandahouseofjewels.com/home/70-561-pendant-netizen-cushion-double-frame.html#/19-color-rose_gold/23-carat_size-04_carat"
                                            title="Pendant Netizen Cushion Double Frame"
                                            class="product_img_link pro_img_hover_scale"
                                        >
                                            <picture class="front_image_pic">
                                                <img
                                                    data-src="https://www.wandahouseofjewels.com/323-large_default/pendant-netizen-cushion-double-frame.jpg"
                                                    data-srcset="https://www.wandahouseofjewels.com/323-large_default_2x/pendant-netizen-cushion-double-frame.jpg 2x"
                                                    width="720"
                                                    height="720"
                                                    alt="Pendant Netizen Cushion Double Frame"
                                                    class="front-image"
                                                    src="https://www.wandahouseofjewels.com/323-large_default/pendant-netizen-cushion-double-frame.jpg"
                                                    srcset="
                                                        https://www.wandahouseofjewels.com/323-large_default_2x/pendant-netizen-cushion-double-frame.jpg 2x
                                                    "
                                                />
                                            </picture>
                                            <img
                                                src="https://www.wandahouseofjewels.com/img/p/en-default-large_default.jpg"
                                                class="holder"
                                                width="720"
                                                height="720"
                                                alt="Pendant Netizen Cushion Double Frame"
                                            />
                                        </a>

                                        <div class="st_sticker_block">
                                            <div
                                                class="st_sticker layer_btn flag_2 st_sticker_1 st_sticker_type_1"
                                            >
                                                <span
                                                    class="st_sticker_text"
                                                    title="NEW"
                                                    >NEW</span
                                                >
                                            </div>
                                        </div>

                                        <div
                                            class="hover_fly hover_fly_0 flex_container mobile_hover_fly_hide"
                                        ></div>
                                    </div>
                                    <div
                                        class="pro_second_box pro_block_align_0"
                                    >
                                        <div
                                            class="flex_box flex_start mini_name"
                                        >
                                            <h3
                                                class="s_title_block flex_child nohidden"
                                            >
                                                <a
                                                    href="https://www.wandahouseofjewels.com/home/70-561-pendant-netizen-cushion-double-frame.html#/19-color-rose_gold/23-carat_size-04_carat"
                                                    title="Pendant Netizen Cushion Double Frame"
                                                    >Pendant Netizen Cushion
                                                    Double Frame</a
                                                >
                                            </h3>
                                        </div>

                                        <div class="">
                                            <div
                                                class="product-price-and-shipping pad_b6"
                                            >
                                                <span class="price"
                                                    >Rp36,500,000</span
                                                >
                                            </div>
                                        </div>

                                        <div class="product-desc pad_b6">
                                            Kalung white gold dengan center
                                            diamond berbentuk Cushion cut dalam
                                            kategori D Color (kategori berlian
                                            tertinggi/terputih) dan VVS Clarity
                                            serta dipercantik berlian
                                            pendamping.
                                        </div>

                                        <div
                                            class="act_box_inner pad_b6 mar_t4 flex_box"
                                        ></div>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <div
                            class="product_list_item col-fw-3 col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 first-screen-line first-large-line first-desktop-line first-line first-tablet-line first-item-of-mobile-line first-item-of-portrait-line"
                        >
                            <article
                                class="ajax_block_product js-product-miniature"
                                data-id-product="69"
                                data-id-product-attribute="555"
                                data-minimal-quantity="1"
                            >
                                <div
                                    class="pro_outer_box clearfix large_default"
                                >
                                    <div class="pro_first_box">
                                        <a
                                            href="https://www.wandahouseofjewels.com/home/69-555-pendant-netizen-oval-double-frame.html#/19-color-rose_gold/24-carat_size-05_carat"
                                            title="Pendant Netizen Oval Double Frame"
                                            class="product_img_link pro_img_hover_scale"
                                        >
                                            <picture class="front_image_pic">
                                                <img
                                                    data-src="https://www.wandahouseofjewels.com/322-large_default/pendant-netizen-oval-double-frame.jpg"
                                                    data-srcset="https://www.wandahouseofjewels.com/322-large_default_2x/pendant-netizen-oval-double-frame.jpg 2x"
                                                    width="720"
                                                    height="720"
                                                    alt="Pendant Netizen Oval Double Frame"
                                                    class="front-image"
                                                    src="https://www.wandahouseofjewels.com/322-large_default/pendant-netizen-oval-double-frame.jpg"
                                                    srcset="
                                                        https://www.wandahouseofjewels.com/322-large_default_2x/pendant-netizen-oval-double-frame.jpg 2x
                                                    "
                                                />
                                            </picture>
                                            <img
                                                src="https://www.wandahouseofjewels.com/img/p/en-default-large_default.jpg"
                                                class="holder"
                                                width="720"
                                                height="720"
                                                alt="Pendant Netizen Oval Double Frame"
                                            />
                                        </a>

                                        <div class="st_sticker_block">
                                            <div
                                                class="st_sticker layer_btn flag_2 st_sticker_1 st_sticker_type_1"
                                            >
                                                <span
                                                    class="st_sticker_text"
                                                    title="NEW"
                                                    >NEW</span
                                                >
                                            </div>
                                        </div>

                                        <div
                                            class="hover_fly hover_fly_0 flex_container mobile_hover_fly_hide"
                                        ></div>
                                    </div>
                                    <div
                                        class="pro_second_box pro_block_align_0"
                                    >
                                        <div
                                            class="flex_box flex_start mini_name"
                                        >
                                            <h3
                                                class="s_title_block flex_child nohidden"
                                            >
                                                <a
                                                    href="https://www.wandahouseofjewels.com/home/69-555-pendant-netizen-oval-double-frame.html#/19-color-rose_gold/24-carat_size-05_carat"
                                                    title="Pendant Netizen Oval Double Frame"
                                                    >Pendant Netizen Oval Double
                                                    Frame</a
                                                >
                                            </h3>
                                        </div>

                                        <div class="">
                                            <div
                                                class="product-price-and-shipping pad_b6"
                                            >
                                                <span class="price"
                                                    >Rp46,500,000</span
                                                >
                                            </div>
                                        </div>

                                        <div class="product-desc pad_b6">
                                            Kalung white gold dengan center
                                            diamond berbentuk Oval cut dalam
                                            kategori D Color (kategori berlian
                                            tertinggi/terputih) dan VVS Clarity
                                            serta dipercantik berlian
                                            pendamping.
                                        </div>

                                        <div
                                            class="act_box_inner pad_b6 mar_t4 flex_box"
                                        ></div>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <div
                            class="product_list_item col-fw-3 col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 last-item-of-screen-line first-screen-line last-item-of-large-line first-large-line last-item-of-desktop-line first-desktop-line last-in-line first-line last-item-of-tablet-line first-tablet-line last-item-of-mobile-line last-item-of-portrait-line"
                        >
                            <article
                                class="ajax_block_product js-product-miniature"
                                data-id-product="63"
                                data-id-product-attribute="0"
                                data-minimal-quantity="1"
                            >
                                <div
                                    class="pro_outer_box clearfix large_default"
                                >
                                    <div class="pro_first_box">
                                        <a
                                            href="https://www.wandahouseofjewels.com/home/63-pendant-luna.html"
                                            title="Pendant Luna"
                                            class="product_img_link pro_img_hover_scale"
                                        >
                                            <picture class="front_image_pic">
                                                <img
                                                    data-src="https://www.wandahouseofjewels.com/302-large_default/pendant-luna.jpg"
                                                    data-srcset="https://www.wandahouseofjewels.com/302-large_default_2x/pendant-luna.jpg 2x"
                                                    width="720"
                                                    height="720"
                                                    alt="Pendant Luna"
                                                    class="front-image"
                                                    src="https://www.wandahouseofjewels.com/302-large_default/pendant-luna.jpg"
                                                    srcset="
                                                        https://www.wandahouseofjewels.com/302-large_default_2x/pendant-luna.jpg 2x
                                                    "
                                                />
                                            </picture>
                                            <img
                                                src="https://www.wandahouseofjewels.com/img/p/en-default-large_default.jpg"
                                                class="holder"
                                                width="720"
                                                height="720"
                                                alt="Pendant Luna"
                                            />
                                        </a>

                                        <div
                                            class="hover_fly hover_fly_0 flex_container mobile_hover_fly_hide"
                                        ></div>
                                    </div>
                                    <div
                                        class="pro_second_box pro_block_align_0"
                                    >
                                        <div
                                            class="flex_box flex_start mini_name"
                                        >
                                            <h3
                                                class="s_title_block flex_child nohidden"
                                            >
                                                <a
                                                    href="https://www.wandahouseofjewels.com/home/63-pendant-luna.html"
                                                    title="Pendant Luna"
                                                    >Pendant Luna</a
                                                >
                                            </h3>
                                        </div>

                                        <div class="">
                                            <div
                                                class="product-price-and-shipping pad_b6"
                                            >
                                                <span class="price"
                                                    >Rp60,000,000</span
                                                >
                                            </div>
                                        </div>

                                        <div class="product-desc pad_b6">
                                            Kalung ilussion berbentuk marquise
                                            yang tersusun rapi dan sempurna
                                            dengan berlian colorless.
                                        </div>

                                        <div
                                            class="act_box_inner pad_b6 mar_t4 flex_box"
                                        ></div>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <div
                            class="product_list_item col-fw-3 col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 first-item-of-screen-line last-screen-line first-item-of-large-line last-large-line first-item-of-desktop-line last-desktop-line first-in-line last-line first-item-of-tablet-line last-tablet-line first-item-of-mobile-line last-mobile-line first-item-of-portrait-line last-portrait-line"
                        >
                            <article
                                class="ajax_block_product js-product-miniature"
                                data-id-product="57"
                                data-id-product-attribute="0"
                                data-minimal-quantity="1"
                            >
                                <div
                                    class="pro_outer_box clearfix large_default"
                                >
                                    <div class="pro_first_box">
                                        <a
                                            href="https://www.wandahouseofjewels.com/home/57-pendant-religi-indah.html"
                                            title="Pendant Religi Indah"
                                            class="product_img_link pro_img_hover_scale"
                                        >
                                            <picture class="front_image_pic">
                                                <img
                                                    data-src="https://www.wandahouseofjewels.com/297-large_default/pendant-religi-indah.jpg"
                                                    data-srcset="https://www.wandahouseofjewels.com/297-large_default_2x/pendant-religi-indah.jpg 2x"
                                                    width="720"
                                                    height="720"
                                                    alt="Pendant Religi Indah"
                                                    class="front-image"
                                                    src="https://www.wandahouseofjewels.com/297-large_default/pendant-religi-indah.jpg"
                                                    srcset="
                                                        https://www.wandahouseofjewels.com/297-large_default_2x/pendant-religi-indah.jpg 2x
                                                    "
                                                />
                                            </picture>
                                            <img
                                                src="https://www.wandahouseofjewels.com/img/p/en-default-large_default.jpg"
                                                class="holder"
                                                width="720"
                                                height="720"
                                                alt="Pendant Religi Indah"
                                            />
                                        </a>

                                        <div
                                            class="hover_fly hover_fly_0 flex_container mobile_hover_fly_hide"
                                        ></div>
                                    </div>
                                    <div
                                        class="pro_second_box pro_block_align_0"
                                    >
                                        <div
                                            class="flex_box flex_start mini_name"
                                        >
                                            <h3
                                                class="s_title_block flex_child nohidden"
                                            >
                                                <a
                                                    href="https://www.wandahouseofjewels.com/home/57-pendant-religi-indah.html"
                                                    title="Pendant Religi Indah"
                                                    >Pendant Religi Indah</a
                                                >
                                            </h3>
                                        </div>

                                        <div class="">
                                            <div
                                                class="product-price-and-shipping pad_b6"
                                            >
                                                <span class="price"
                                                    >Rp41,800,000</span
                                                >
                                            </div>
                                        </div>

                                        <div class="product-desc pad_b6">
                                            Kalung dengan desain&nbsp;unik
                                            bernuansa Religi yang bisa di grafir
                                            sesuai keinginan.
                                        </div>

                                        <div
                                            class="act_box_inner pad_b6 mar_t4 flex_box"
                                        ></div>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <div
                            class="product_list_item col-fw-3 col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 last-screen-line last-large-line last-desktop-line last-line last-tablet-line last-item-of-mobile-line last-mobile-line last-item-of-portrait-line last-portrait-line"
                        >
                            <article
                                class="ajax_block_product js-product-miniature"
                                data-id-product="56"
                                data-id-product-attribute="0"
                                data-minimal-quantity="1"
                            >
                                <div
                                    class="pro_outer_box clearfix large_default"
                                >
                                    <div class="pro_first_box">
                                        <a
                                            href="https://www.wandahouseofjewels.com/home/56-pendant-religi-murni.html"
                                            title="Pendant Religi Murni"
                                            class="product_img_link pro_img_hover_scale"
                                        >
                                            <picture class="front_image_pic">
                                                <img
                                                    data-src="https://www.wandahouseofjewels.com/296-large_default/pendant-religi-murni.jpg"
                                                    data-srcset="https://www.wandahouseofjewels.com/296-large_default_2x/pendant-religi-murni.jpg 2x"
                                                    width="720"
                                                    height="720"
                                                    alt="Pendant Religi Murni"
                                                    class="front-image"
                                                    src="https://www.wandahouseofjewels.com/296-large_default/pendant-religi-murni.jpg"
                                                    srcset="
                                                        https://www.wandahouseofjewels.com/296-large_default_2x/pendant-religi-murni.jpg 2x
                                                    "
                                                />
                                            </picture>
                                            <img
                                                src="https://www.wandahouseofjewels.com/img/p/en-default-large_default.jpg"
                                                class="holder"
                                                width="720"
                                                height="720"
                                                alt="Pendant Religi Murni"
                                            />
                                        </a>

                                        <div
                                            class="hover_fly hover_fly_0 flex_container mobile_hover_fly_hide"
                                        ></div>
                                    </div>
                                    <div
                                        class="pro_second_box pro_block_align_0"
                                    >
                                        <div
                                            class="flex_box flex_start mini_name"
                                        >
                                            <h3
                                                class="s_title_block flex_child nohidden"
                                            >
                                                <a
                                                    href="https://www.wandahouseofjewels.com/home/56-pendant-religi-murni.html"
                                                    title="Pendant Religi Murni"
                                                    >Pendant Religi Murni</a
                                                >
                                            </h3>
                                        </div>

                                        <div class="">
                                            <div
                                                class="product-price-and-shipping pad_b6"
                                            >
                                                <span class="price"
                                                    >Rp23,000,000</span
                                                >
                                            </div>
                                        </div>

                                        <div class="product-desc pad_b6">
                                            Kalung dengan desain&nbsp;unik
                                            bernuansa Religi yang bisa di grafir
                                            sesuai keinginan.
                                        </div>

                                        <div
                                            class="act_box_inner pad_b6 mar_t4 flex_box"
                                        ></div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="hidden text-center infinite-spin">
                        <i class="fto-spin5 animate-spin fs-xl"></i>
                    </div>

                    <div class="text-center infinite-box mar_b6 m-t-1">
                        <a
                            class="infinite-more-link btn btn-default btn-large"
                            data-start="1"
                            href="https://www.wandahouseofjewels.com/7-pendant-necklace?page=2"
                            rel="nofollow 1694505281"
                            >Load More Products</a
                        >
                    </div>
                    <div
                        class="product_count_infinite fs_md text-center mb-3"
                        data-current_url="https://www.wandahouseofjewels.com/7-pendant-necklace"
                    >
                        Showing <span>1</span>-6 of 20 item(s)
                    </div>
                </div>
            </div>

            <div id="js-product-list-bottom-wrap">
                <div id="js-product-list-bottom"></div>
            </div>
        </section>
    </section>
</div>
